@import "../../vars.css";

.container {
  display: flex;
  scroll-margin-top: 64px;
  flex-direction: column;
  border-radius: 10px;
  background: #cdd7e1;
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 345px;
}

.image {
  margin-bottom: 26px;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 25px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 15px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 0.2rem 1.8rem;
  font-weight: lighter;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 10rem;
  background: var(--color-primary);
  padding: 0.3rem 2.2rem;
  background-color: var(--color-secondary);
  color: var(--color-text);
  box-shadow: 0 0 4px 0 var(--color-secondary);
  border-radius: 100px;
}

.link:hover {
  opacity: 0.8;
}
