:root {
    /* Colors */
    --color-text: #000;
    --color-primary: #cdd7e1;
    --color-secondary: #cdd7e1;
    --color-dark: #00b5e2;
    --color-bg: #e2eaf2;

    /* Fonts */
    --font-Roboto: "Roboto";
}